
:root{
    --leng-anima:0%;
}
.about{
    width: 80%;
    height:100vh;
    padding: 4rem 0 0 0;
    display:flex;
    flex-direction:column;
}
.top_a{
    margin:0.1rem 0.1rem;
    color: #00FFFF;
    font-style: italic;
    font-size: 1rem;
}
.top2_a{
    margin: 0 0.5rem;
    color: #00FFFF;
    font-style: italic;
    font-size: 1rem;
}
.about>h2{
    font-weight:400;
    font-style: normal;
    font-size: 7vw;
    margin:1rem;
    color:#FFFF;
}
.about>h2:hover{
    color:#00FFFF;
    display: inline-block;
    animation: bounce; 
    animation-duration: 1s; 
    z-index: 2;
 
} 
.description2{
    display: flex;
    flex-direction: column;
}
.description2>p{
    width: 90%;
    font-style: normal;
    font-size: 4.7vw;
    color: #fff;
    margin:1rem;
}
.container_nivel{
    width: 100%;
    height: auto;
    bottom: 20px;
}

.icons{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.icons>h2{
    color: #fff;
    animation: jackInTheBox; 
    animation-duration: 1s; 
    
}
.kills{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.kills>ul>li{
    color: #fff;
    padding: 10%;
}
.kills>ul>li>p{
    color: #fff;
}
.kills>ul>li:hover{
    color: #00FFFF;
    animation: rubberBand;
    animation-duration: 1s;
}
.kills>ul>li>p:hover{
    color: #00FFFF;
}
@media (min-width: 640px) { 
    .description2{
    flex-direction: row;

    }
    .description2>p{
    font-size:3vw;
    }
   .container_nivel{
    margin-left: 5%;

   }

}
@media (min-width: 768px) { 
    .top_a{
        margin:0.1rem 4rem;
    }
    .top2_a{
        margin:0.1rem 4rem;
    }
    .about>h2{
        font-size: 5vw;
        margin:1rem 6rem;

    }
    .description2{
        margin:1rem 4rem;
    }
    .description2>p{
        font-size: 2.5vw;
    }
    .container_nivel{
        margin-left: 62%;
    
    }
    .kills>ul>li>p{
        font-size: 1.1rem;
    }

}

